.container{
    border: 5px;
    width:calc(height+250px);
    height:600px;
    padding:auto;
    background-color: darkgray;
    margin:auto;
    position: relative;
}
.box1{
    height:150px;
    border:1px; 
    background-color:indianred;
    width:calc(850px - 700px);
    margin: auto;
    position:absolute;
    top:200px;
    right: 40px;
}   
.box1:after{
    position: absolute;
    content:"\00d7";
    font-size: 150px;
    text-align: center;
    line-height: 150px;
    top:0%;
    bottom: 10px;
    right: 0%;
    left: 0%;
}