.container{
    border:10px solid wheat;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.color1{
    background-color: blue;
    height:60px;
    width: 551px;
    float: right;
    border: 11px solid whitesmoke;
} 
.color2{
    background-color:red;
    height:60px;
    width:250px;
    border:11px solid whitesmoke;
}
.color3{
    background-color:darkgoldenrod;
    height:80px;
    border:10px solid whitesmoke;
}
.color4{
    background-color:blueviolet;
    height:60px;
    width:250px;
    border:10px solid whitesmoke;
    float: right;
}
.color5{
    background-color:deeppink;
    height:60px;
    width:240px;
    border:10px solid whitesmoke;
    float: right;
}
.color6{
    background-color:lawngreen;
    height:60px;
    width:257px;
    border:10px solid whitesmoke;
}
.color7{
    background-color:yellow;
    height:60px;
    width:350px;
    float:right;
    border:10px solid whitesmoke;
}
.color8{
    background-color:orangered;
    width:400px;
    height:60px;
    border:10px solid whitesmoke;
}
.color9{
    background-color:indigo;
    height:40px;
    width: 170px;
    float:right;
    border:9px solid whitesmoke;
}
.color10{
    background-color:maroon;
    height:40px;
    width:160px;
    float: right;
    border:9px solid whitesmoke;
}
.color11{
    background-color:aqua;
    height:40px;
    width:160px;
    float:right;
    border:9px solid whitesmoke;
}
.color12{
    background-color:darkgreen;
    height:40px;
    width:180px;
    border:9px solid whitesmoke;
}
.color13{
    background-color:brown;
    height:25px;
    border:10px solid whitesmoke;
}